.DS_Store
.nodemonignore
.sass-cache/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
node_modules/
public/lib